#events{
    background: url("../Design/dark+circle.png");
}
.EventHead {
    color: white;
    text-shadow: 0 0 10px rgba(0, 115, 230, 0.8), 0 0 20px rgba(0, 115, 230, 0.8), 0 0 30px rgba(0, 115, 230, 0.8);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px;
    display: inline-block;
}



#card{
    margin: 0px 10px;
}
#card h3{
    font-family: 'Poppins';
}
#card .info{
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 1.1rem ;
    color: black;
}

